nav{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
ul{
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style-type: none;
}
ul li a{
  text-decoration: none;
  color: plum;
  font-weight: bold;
}
.active{
  background-color: brown;
}